<header>
    <h1>Header ...</h1>
    <%if(locals.user && locals.user.isAdmin){%> 
        <a href="/admin/assignForReview">AssignForReview</a>&nbsp;
        <a href=""></a>&nbsp;
        <a href="/admin/logout">AdminLogOut</a>&nbsp;
    <%}%>

    <%if(locals.user){%>
        <a href="/employee">Employee</a>&nbsp;
        <a role="button" href="/employee/show">show</a>&nbsp;
    <%}%>

    <%if(locals.user && !user.isAdmin){%>
        <a role="button" href="/employee/logout">EmployeeLogout</a>&nbsp;
    <%}%>

    <%if(!locals.user){%>
        <a href="/employeeLogin">EmployeeLogin</a>&nbsp;
        <a href="/adminLogin">AdminLogin</a>&nbsp;
        <a href="/employeeSignup">EmployeeSignUp</a>&nbsp;
    <%}%>

</header>