<h1>Admin Login</h1>
<form action="/adminLogin-form" method="post">
    <input type="text" placeholder="Email" required name="email">
    <input type="password" name="password" id="" required placeholder="Password">
    <input type="submit">
</form>