<div class="form">
    <h1 class="subtitle is-1">Admin Login</h1>
    <link rel="stylesheet" href="/css/signin.css">
    <form action="/adminLogin-form" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input class="form-control" type="text" placeholder="Email" required name="email" id="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input class="form-control" type="password" name="password" id="exampleInputPassword1" required placeholder="Password">
        </div>
        <button type="submit" class="btn btn-dark ">Submit</button>
    </form>
</div>