<link rel="stylesheet" href="/css/signup.css">
<div class="form">
    <h1 class="subtitle is-1">Employee signUp</h1>
    <form action="/employeeSignUp-form" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="email" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="name" required>
        </div>
        <button type="submit" class="btn btn-dark">SignUp</button>
    </form>
</div>