<h1>Employee signUp</h1>
<form action="/employeeSignUp-form" method="post">
    <input type="email" name="email" id="" placeholder="email" required>
    <input type="password" name="password" id="" placeholder="password" required>
    <input type="text" name="name" id="" placeholder="name" required>
    <input type="submit">
</form>