<link rel="stylesheet" href="/css/ToReviewList.css">
<div id="ToReviewListContainer">
    <h1>List of employee to be reviewed</h1>
    <article class="panel is-danger">
        <p class="panel-heading">
            Select Employee name from the list to be reviewed
        </p>
    
            <%for(i of employee.toReview){%>
                <a class="panel-block" href="/employee/review/form/<%=i._id%>">
                      👤 &nbsp;<%=i.name %>
                </a>
            <%}%>
    
    </aside>
</div>
