#assignContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 60%;
    justify-content: space-around;
}
#assignForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    margin-top: 6%;
}

#subBut{
    margin-top: 2%;
    width: 50%;
}