#mainContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 2%;
}

/* #mainContainer h3{
    border-bottom: 0.1px solid #777;
}

#mainContainer input{
    border: 0px;
    border-bottom: 0.1px dotted #777;
} */

#formContainer{
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 10px;
    padding-bottom: 20px;
    border-top: 2px dotted #777;
    border-bottom: 2px dotted #777;
}

#reviewContaoner{
    width: 100%;
    text-align: center;
    margin-top: 3%;
}

#reviewContaoner div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#reviewContaoner article{
    width: 20%;
    min-width: 300px;
    margin-left: 2%;
}
